## Week 3 Peer Graded Assignment-Segmenting and clustering neighborhoods in Toronto

In [1]:
import numpy as np # library to handle data in a vectorized manner

import pandas as pd # library for data analsysis
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import json # library to handle JSON files

!conda install -c conda-forge geopy --yes
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors
# import k-means from clustering stage
from sklearn.cluster import KMeans

!conda install -c conda-forge folium=0.5.0 --yes 
import folium # map rendering library
#from bs4 import BeautifulSoup #Web Scraping
#import xml

print('Libraries imported.')

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

## Package Plan ##

  environment location: C:\Users\sapna\anaconda3

  added / updated specs:
    - geopy


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    conda-4.8.3                |   py37hc8dfbb8_1         3.1 MB  conda-forge
    geographiclib-1.50         |             py_0          34 KB  conda-forge
    geopy-2.0.0                |     pyh9f0ad1d_0          63 KB  conda-forge
    python_abi-3.7             |          1_cp37m           4 KB  conda-forge
    ------------------------------------------------------------
                                           Total:         3.2 MB

The following NEW packages will be INSTALLED:

  geographiclib      conda-forge/noarch::geographiclib-1.50-py_0
  geopy              conda-forge/noarch::geopy-2.0.0-pyh9f0ad1d_0
  python_abi         conda-forge/win-64::python_abi-3.7-1_cp37m

The following packages will be UPDATED:

  conda                       pkgs/main::conda-4.8.2-py37_0 --> conda-forge::conda-4.8.3-py37hc8dfbb8_1



Downloading and Extracting Packages

geographiclib-1.50   | 34 KB     |            |   0%
geographiclib-1.50   | 34 KB     | ####7      |  47%
geographiclib-1.50   | 34 KB     | ########## | 100%

python_abi-3.7       | 4 KB      |            |   0%
python_abi-3.7       | 4 KB      | ########## | 100%

geopy-2.0.0          | 63 KB     |            |   0%
geopy-2.0.0          | 63 KB     | ########## | 100%

conda-4.8.3          | 3.1 MB    |            |   0%
conda-4.8.3          | 3.1 MB    | 6          |   7%
conda-4.8.3          | 3.1 MB    | ##1        |  21%
conda-4.8.3          | 3.1 MB    | ###7       |  37%
conda-4.8.3          | 3.1 MB    | #####4     |  54%
conda-4.8.3          | 3.1 MB    | ######5    |  66%
conda-4.8.3          | 3.1 MB    | ########2  |  82%
conda-4.8.3          | 3.1 MB    | #########6 |  96%
conda-4.8.3          | 3.1 MB    | ########## | 100%
Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working... done

==> WARNING: A newer version of conda exists. <==
  current version: 4.8.2
  latest version: 4.8.3

Please update conda by running

    $ conda update -n base -c defaults conda

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... failed with initial frozen solve. Retrying with flexible solve.
Collecting package metadata (repodata.json): ...working... done
Solving environment: ...working... done

## Package Plan ##

  environment location: C:\Users\sapna\anaconda3

  added / updated specs:
    - folium=0.5.0


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    altair-4.1.0               |             py_1         614 KB  conda-forge
    branca-0.4.1               |             py_0          26 KB  conda-forge
    certifi-2019.11.28         |           py37_0         148 KB  conda-forge
    folium-0.5.0               |             py_0          45 KB  conda-forge
    vincent-0.4.4              |             py_1          28 KB  conda-forge
    ------------------------------------------------------------
                                           Total:         861 KB

The following NEW packages will be INSTALLED:

  altair             conda-forge/noarch::altair-4.1.0-py_1
  branca             conda-forge/noarch::branca-0.4.1-py_0
  folium             conda-forge/noarch::folium-0.5.0-py_0
  vincent            conda-forge/noarch::vincent-0.4.4-py_1

The following packages will be SUPERSEDED by a higher-priority channel:

  certifi                                         pkgs/main --> conda-forge



Downloading and Extracting Packages

vincent-0.4.4        | 28 KB     |            |   0%
vincent-0.4.4        | 28 KB     | #####7     |  58%
vincent-0.4.4        | 28 KB     | ########## | 100%

certifi-2019.11.28   | 148 KB    |            |   0%
certifi-2019.11.28   | 148 KB    | ########## | 100%

folium-0.5.0         | 45 KB     |            |   0%
folium-0.5.0         | 45 KB     | ########## | 100%

branca-0.4.1         | 26 KB     |            |   0%
branca-0.4.1         | 26 KB     | ######1    |  62%
branca-0.4.1         | 26 KB     | ########## | 100%

altair-4.1.0         | 614 KB    |            |   0%
altair-4.1.0         | 614 KB    | ##8        |  29%
altair-4.1.0         | 614 KB    | ########8  |  89%
altair-4.1.0         | 614 KB    | ########## | 100%
Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working... done
Libraries imported.

In [8]:
url='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'#Web Scraping Through pandas
df_list = pd.read_html(url)

In [10]:
df_list[0].head() #Dataframe has three columns PostalCode, Borough, and Neighborhood

  Postal Code           Borough               Neighborhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

In [15]:
toronto_data=df_list[0]
toronto_data.head()
#type(toronto_data)

  Postal Code           Borough               Neighborhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

In [16]:
#process cells that have an assigned borough.Ignore cells with a borough that is Not assigned.
toronto_data['Borough'].replace('Not assigned', np.nan, inplace=True)
toronto_data.dropna(subset=['Borough'], inplace=True)
toronto_data.head()

  Postal Code           Borough                                 Neighborhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [43]:
#More than one neighborhood can exist in one postal code area.
toronto=toronto_data.groupby(['Postal Code','Borough']).Neighborhood.agg([('Neighborhood', ', '.join)]).reset_index()
toronto.columns = ['Postcode', 'Borough', 'Neighbourhood']
toronto.head()

  Postcode      Borough                           Neighbourhood
0      M1B  Scarborough                          Malvern, Rouge
1      M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2      M1E  Scarborough       Guildwood, Morningside, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

In [42]:
#If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough.
cell=toronto_data[toronto_data['Neighborhood'].str.contains('Not assigned')]
cell
#As there is no cell with  Not assigned neighborhood,we get empty result

Empty DataFrame
Columns: [Postal Code, Borough, Neighborhood]
Index: []

In [34]:
toronto.shape

(103, 3)

In [45]:
toronto_geo = pd.read_csv('http://cocl.us/Geospatial_data')
toronto_geo.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [47]:
toronto_geo.columns = ['Postcode', 'Latitude', 'Longitude']#To change name of postal code to Post cod so that further we can join two tables
toronto_geo

    Postcode   Latitude  Longitude
0        M1B  43.806686 -79.194353
1        M1C  43.784535 -79.160497
2        M1E  43.763573 -79.188711
3        M1G  43.770992 -79.216917
4        M1H  43.773136 -79.239476
5        M1J  43.744734 -79.239476
6        M1K  43.727929 -79.262029
7        M1L  43.711112 -79.284577
8        M1M  43.716316 -79.239476
9        M1N  43.692657 -79.264848
10       M1P  43.757410 -79.273304
11       M1R  43.750072 -79.295849
12       M1S  43.794200 -79.262029
13       M1T  43.781638 -79.304302
14       M1V  43.815252 -79.284577
15       M1W  43.799525 -79.318389
16       M1X  43.836125 -79.205636
17       M2H  43.803762 -79.363452
18       M2J  43.778517 -79.346556
19       M2K  43.786947 -79.385975
20       M2L  43.757490 -79.374714
21       M2M  43.789053 -79.408493
22       M2N  43.770120 -79.408493
23       M2P  43.752758 -79.400049
24       M2R  43.782736 -79.442259
25       M3A  43.753259 -79.329656
26       M3B  43.745906 -79.352188
27       M3C  43.725900 -79.340923
28       M3H  43.754328 -79.442259
29       M3J  43.767980 -79.487262
30       M3K  43.737473 -79.464763
31       M3L  43.739015 -79.506944
32       M3M  43.728496 -79.495697
33       M3N  43.761631 -79.520999
34       M4A  43.725882 -79.315572
35       M4B  43.706397 -79.309937
36       M4C  43.695344 -79.318389
37       M4E  43.676357 -79.293031
38       M4G  43.709060 -79.363452
39       M4H  43.705369 -79.349372
40       M4J  43.685347 -79.338106
41       M4K  43.679557 -79.352188
42       M4L  43.668999 -79.315572
43       M4M  43.659526 -79.340923
44       M4N  43.728020 -79.388790
45       M4P  43.712751 -79.390197
46       M4R  43.715383 -79.405678
47       M4S  43.704324 -79.388790
48       M4T  43.689574 -79.383160
49       M4V  43.686412 -79.400049
50       M4W  43.679563 -79.377529
51       M4X  43.667967 -79.367675
52       M4Y  43.665860 -79.383160
53       M5A  43.654260 -79.360636
54       M5B  43.657162 -79.378937
55       M5C  43.651494 -79.375418
56       M5E  43.644771 -79.373306
57       M5G  43.657952 -79.387383
58       M5H  43.650571 -79.384568
59       M5J  43.640816 -79.381752
60       M5K  43.647177 -79.381576
61       M5L  43.648198 -79.379817
62       M5M  43.733283 -79.419750
63       M5N  43.711695 -79.416936
64       M5P  43.696948 -79.411307
65       M5R  43.672710 -79.405678
66       M5S  43.662696 -79.400049
67       M5T  43.653206 -79.400049
68       M5V  43.628947 -79.394420
69       M5W  43.646435 -79.374846
70       M5X  43.648429 -79.382280
71       M6A  43.718518 -79.464763
72       M6B  43.709577 -79.445073
73       M6C  43.693781 -79.428191
74       M6E  43.689026 -79.453512
75       M6G  43.669542 -79.422564
76       M6H  43.669005 -79.442259
77       M6J  43.647927 -79.419750
78       M6K  43.636847 -79.428191
79       M6L  43.713756 -79.490074
80       M6M  43.691116 -79.476013
81       M6N  43.673185 -79.487262
82       M6P  43.661608 -79.464763
83       M6R  43.648960 -79.456325
84       M6S  43.651571 -79.484450
85       M7A  43.662301 -79.389494
86       M7R  43.636966 -79.615819
87       M7Y  43.662744 -79.321558
88       M8V  43.605647 -79.501321
89       M8W  43.602414 -79.543484
90       M8X  43.653654 -79.506944
91       M8Y  43.636258 -79.498509
92       M8Z  43.628841 -79.520999
93       M9A  43.667856 -79.532242
94       M9B  43.650943 -79.554724
95       M9C  43.643515 -79.577201
96       M9L  43.756303 -79.565963
97       M9M  43.724766 -79.532242
98       M9N  43.706876 -79.518188
99       M9P  43.696319 -79.532242
100      M9R  43.688905 -79.554724
101      M9V  43.739416 -79.588437
102      M9W  43.706748 -79.594054

In [50]:
tor_loc = pd.merge(toronto, toronto_geo, on=['Postcode'], how='inner')
tor_final = tor_loc[['Postcode','Borough', 'Neighbourhood','Latitude', 'Longitude']].copy()
tor_final.head()

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476